<div class="container">
<div style="text-align:center">
  <h1>
    {{ title }}!
   </h1>
</div>

<!-- directive -->
<!-- <input type="text" [appInputFormat]="'uppercase'">  
</div> -->


<!-- <app-courses></app-courses> -->
<!-- 
<app-favourite-item></app-favourite-item> -->

<!-- [isFavourite]="post.isFavourite" (change)="onFavouriteChanged($event)" -->

<!-- <bootstrap-panel>
 <ng-container class="heading"><h2>Heading</h2></ng-container>  
  <div class="body">Body<p>Something....</p></div>
</bootstrap-panel> -->
  
<!-- <app-likes [likesCount] = "tweet.likesCount" 
        [isActive] = "tweet.isLiked">
</app-likes> -->


<!-- <app-directives></app-directives> -->

<!-- <app-contact-from></app-contact-from> -->

<!-- <app-course-form></app-course-form> -->

<signup-form></signup-form>